/* Reset simple */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Background global */
body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
}

/* Container principal */
.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Formulaire */
.auth-form {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.3s ease-in-out;
    color: #333
}

/* Titre */
.auth-form h2 {
    text-align: center;
    color: #333;
}

/* Inputs */
.auth-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    transition: 0.2s;
}

.auth-form input:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 2px rgba(102, 126, 234, 0.2);
}

/* Bouton */
.auth-form button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #667eea;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.auth-form button:hover {
    background: #5a67d8;
}

/* Switch login/register */
.auth-container p {
    margin-top: 1rem;
    color: white;
}

.auth-container p button {
    margin-left: 8px;
    background: none;
    border: none;
    color: #ffd369;
    cursor: pointer;
    font-weight: bold;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.spinner {
    width: 18px;
    height: 18px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid white;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: inline-block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.error {
    color: red;
    font-size: 0.9rem;
    text-align: center;
}